<form method="POST" action="/events/<%= event.id %>/?_method=PUT">
  <label for="name">Event Name:</label>
  <input type="text" name="name" value="<%= event.name %>" />

  <label for="description">Event Description</label>
  <input
    id="description"
    type="text"
    name="description"
    value="<%= event.description %>"
  />

  <label for="link">Event Link (Event Brite, Facebook, Meetup, Etc...):</label>
  <input id="link" type="text" name="link" value="<%= event.link %>" />

  <label for="cost">Cost:</label>
  <input id="cost" type="text" name="cost" value="<%= event.cost %>" />

  <label for="picture">Event Photo / Flyer:</label>
  <input
    id="picture"
    type="file"
    class="form-control-file"
    name="picture"
    href="../<%= event.picture %>"
  />

  <label for="cost">Cost:</label>
  <input id="cost" type="text" name="cost" value="<%= event.cost %>" />

  <input type="submit" />
</form>
