< !DOCTYPE html >
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HIgh Scores</title>
  </head>
  <body>
    <a href="/highscore">View All Events</a>
    <h1><%= event.name %></h1>
    <h2><%= event.description %></h2>
    <h3><%= event.link %></h3>
    <h4><%= event.cost %></h4>
    <h4><%= event.picture %></h4>
    <h4><%= event.date %></h4>
    <h4><%= event.notes %></h4>

    <a href="/events/edit/<%= event.id %>">Edit</a>

    <form method="POST" action="/events/<%= event.id %>/?_method=DELETE">
      <input type="submit" value="Delete Event" />
    </form>
  </body>
</html>
