<form method="POST" action="/gamess/<%= game.id %>/?_method=PUT">
  <label for="name">Game Name:</label>
  <input type="text" name="name" value="<%= game.name %>" />

  <label for="model">Game Model:</label>
  <input type="text" name="model" value="<%= game.model %>" />

  <label for="manufacturer">Game Manufacturer:</label>
  <input type="text" name="manufacturer" value="<%= game.manufacturer %>" />

  <label for="serialNumber">Game Notes:</label>
  <input type="text" name="serialNumber" value="<%= game.serialNumber %>" />

  <label for="picture">Game Picture:</label>
  <input type="file" class="form-control-file" />

  <label for="highScore">Game High Score:</label>
  <input type="text" name="highScore" value="<%= game.highScore %>" />

  <label for="status">Game Status:</label>
  <input type="text" name="status" value="<%= game.status %>" />

  <input type="submit" />
</form>
