<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Games</title>
  </head>
  <body>
    <a href="/games">View All Games</a>
    <label for="game-id">Game Id:</label>
    <h4><%= game.id %></h4>

    <label for="game-name">Game Name:</label>
    <h2><%= game.name %></h2>

    <label for="game-model">Game Model:</label>
    <h2><%= game.Model %></h2>

    <label for="game-manufacturer">Game Manufacturer:</label>
    <h3><%= game.manufacturer %></h3>

    <label for="game-serialNumber">Game Notes:</label>
    <h4><%= game.serialNumber %></h4>

    <label for="game-picture">Game Picture:</label>
    <h4><%= game.picture %></h4>

    <label for="game-high-score">Game High Score:</label>
    <h4><%= game.highScore %></h4>

    <label for="game-status">Game Status:</label>
    <h4><%= game.status %></h4>

    <a href="/games/edit/<%= game.id %>">Edit</a>

    <form method="POST" action="/games/<%= game.id %>/?_method=DELETE">
      <input type="submit" value="Delete Game" />
    </form>
  </body>
</html>
