<form method="POST" action="/beers/<%= beer.id %>/?_method=PUT">
  <label for="name">Beer Name:</label>
  <input id="beerName" type="text" name="name" value="<%= beer.name %>" />

  <label for="type">Type of beer (Lager, Hefeweisen, Stout...):</label>
  <input id="typeOfBeer" type="text" name="type" value="<%= beer.type %>" />

  <label for="brewery">Brewery Name:</label>
  <input id="brewery" type="text" name="brewery" value="<%= beer.brewery %>" />

  <label for="pricePerGlass">Price Per Glass:</label>
  <input
    id="pricePerGlass"
    type="number"
    name="pricePerGlass"
    value="<%= beer.pricePerGlass %>"
  />

  <label for="pricePerGrowler">Price Per Growler:</label>
  <input
    id="pricePerGrowler"
    type="number"
    name="pricePerGrowler"
    value="<%= beer.pricePerGrowler %>"
  />

  <label for="costPerKeg">Cost Per Keg:</label>
  <input
    id="costPerKeg"
    type="number"
    name="pricePerGrowler"
    value="<%= beer.pricePerGrowler %>"
  />

  <label for="costPerKeg">Beer ABV:</label>
  <input id="beerAbv" type="number" name="beerAbv" value="<%= beer.abv %>" />

  <label for="beerIbu">Beer IBU:</label>
  <input id="beerIbu" type="number" name="beerIbu" value="<%= beer.ibu %>" />

  <label for="beerNotes">Beer ABV:</label>
  <input id="beerNotes" type="text" name="notes" value="<%= beer.notes %>" />

  <input
    id="beerInStock"
    type="text"
    name="inStock"
    value="<%= beer.inStock %>"
  />
  <input type="submit" />
</form>
