<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Beers on Tap</title>
  </head>
  <body>
    <a href="/beers">View All Beers</a>
    <h1><%= beer.name %></h1>
    <h2><%= beer.type %></h2>
    <h3><%= beer.brewery %></h3>
    <h4><%= beer.pricePerGlass %></h4>
    <h4><%= beer.pricePerGrowler %></h4>
    <h4><%= beer.costPerKeg %></h4>
    <h4><%= beer.abv %></h4>
    <h4><%= beer.ibu %></h4>
    <h4><%= beer.notes %></h4>
    <h4><%= beer.inStock %></h4>

    <a href="/beers/edit/<%= beer.id %>">Edit</a>

    <form method="POST" action="/beers/<%= delete.id %>/?_method=DELETE">
      <input type="submit" value="Delete Beer" />
    </form>
  </body>
</html>
