<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>All Wines</title>
    <!-- CSS Imports -->
    <%- include('../partials/bootstrap') %>
    <link rel="stylesheet" type="text/css" href="/public/css/app.css" />
  </head>

  <div class="container">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Type</th>
          <th scope="col">Winery</th>
          <th scope="col">View</th>
        </tr>
      </thead>
      <tbody>
        <% for( let index = 0; index < wines.length; index++ ) { %> <% let a =
        wines[index]; %> <% a = a.toJSON() %>
        <tr>
          <td><%= a.name %></td>
          <td><%= a.type %></td>
          <td><%= a.winery %></td>
          <td><a href="/wines/<%= a.id %>">View</a></td>
        </tr>
        <% } %>
      </tbody>
    </table>
  </div>
</html>
