<div
  class="modal modal-sheet position-static d-block bg-secondary py-5"
  tabindex="-1"
  role="dialog"
  id="modalSheet"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content rounded-6 shadow">
      <div class="modal-header border-bottom-0">
        <div class="container">
          <img src="/images/barricade_pacman.png" style="width: 100%" />
          <h1 class="modal-title"><%= wine.name %></h1>
        </div>
      </div>
      <div class="modal-body py-0">
        <div class="container">
          <hr class="my-4" />
          <h5>Type:</h5>
          <h2><%= wine.type %></h2>
        </div>
        <div class="container">
          <hr class="my-4" />
          <h5>Winery:</h5>
          <h3><%= wine.winery %></h3>
        </div>
        <div class="container">
          <hr class="my-4" />
          <h5>Price Per Glass:</h5>
          <h4><%= wine.pricePerGlass %></h4>
        </div>
        <div class="container">
          <hr class="my-4" />
          <h5>Price Per Bottle:</h5>
          <h4><%= wine.pricePerBottle %></h4>
        </div>
        <div class="container">
          <hr class="my-4" />
          <h5>ABV:</h5>
          <h4><%= wine.abv %></h4>
        </div>
        <div class="container">
          <hr class="my-4" />
          <h5>AVA:</h5>
          <h4><%= wine.ava %></h4>
        </div>
      </div>
      <div class="modal-footer flex-column border-top-0">
        <!-- <form method="POST" action="/games/<%= wine.id %>/?_method=DELETE">
            <input type="submit" value="Delete Game" />
          </form> -->
        <!-- <a href="/games/edit/<%= wine.id %>">Edit</a> -->
        <a href="/wines">All Wines</a>
      </div>
    </div>
  </div>
</div>
