<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Spotify 2.0</title>
  </head>
  <body>
    <a href="/albums">View All Albums</a>
    <h1><%= album.title %></h1>
    <h2><%= album.year %></h2>
    <h3><%= album.length %></h3>
    <h4><%= album.tracks %></h4>
    <a href="/albums/edit/<%= album.id %>">Edit</a>

    <form method="POST" action="/albums/<%= album.id %>/?_method=DELETE">
      <input type="submit" value="Delete Album" />
    </form>
  </body>
</html>
